.changePassword.loginSection {
    background-color: transparent;
    height: auto;
    padding: 5%;
}
.changePassword.loginSection .login-box {
    background-color: #4B111A;
}
.changePassword button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.primaryBtn {
    margin-top: 7%;
}