.data-collection-page .drwdownMenus {
    padding: 0;
}
div#demo-popup-menu\ data-collection-filter .MuiPaper-root {
    overflow: visible !important;
}
@media screen and (max-width:1024px){
    .flaxdyforbtn{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: baseline;
    }
    .data-collection-page > .pageFilterBar {
        align-items: flex-start;
        padding: 0 0 7% 0 !important;
        flex-direction: column;
    }
}
@media screen and (max-width:767px) {
    .data-collection-page .title_text, .product-wrapper {
        padding: 2% 0 3% 0 !important;
        flex-direction: column;
        align-items: flex-start !important;
    }
    .flaxdyforbtn{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: baseline;
    }
}
.flaxdyforbtn{
    display: flex;
    gap: 2rem;
    align-items: baseline;
}